* {
    background: #000;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
  }
  
  h1{
      font-size: xx-large;
     
  }
  .App {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 40rem;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    border-collapse: collapse;
    background-color: #000;
    color: white;
    
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button{
      width: 9rem;
      height: 30px;
      background-color: aliceblue;
      color: #000;
      cursor: pointer;
  }  